.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #1b526155;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.input {
  background-color: white;
  border-radius: 20px;
  border: 0;
  padding: 10px 20px;
  box-shadow: inset 0 0 5px black;
  /* width: 100%; */
}

.submit-btn {
  padding: 6px 10px;
  background-color: cadetblue;
  border: 0;
  margin-left: 15px;
  ;
}

.todo-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategrey;
  padding: 10px;
  margin-top: 20px;
}

.todo-container .task-name {
  color: white;
}

.action-container button {
  margin-left: 10px;
  padding: 5px 8px;
}